/* ========== GLOBAL START ========== */
@-ms-viewport {
	width: device-width;
}
body {
	margin: 0px;
	padding: 0px;	
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}
body:before {
	content: "desktop";
	display: none;
}
h2 {
	font: 300 60px/64px 'Raleway', sans-serif;
	color: #303030;
	text-transform: uppercase;
	margin: 0px;
	padding: 0px 0px 40px;
}
h2 span {
	font-weight: 700;	
}
h3 {
	font: 300 30px 'Raleway', sans-serif;
	color: #303030;
	text-transform: uppercase;
	margin: 0px;
	padding: 0px 0px 40px;
}
h3 span {
	font-weight: 700;	
}
h4, .bk-articles h3 {
	font: 700 20px 'Raleway', sans-serif;
	color: #a2310f;
	text-transform: uppercase;
	margin: 0px;
	padding: 0px;	
}
p {
	margin: 0px;	
	font: 400 16px/28px 'Raleway', sans-serif;
	color: #606060;
}
.clear:after {
	content: "";
	visibility: hidden;
	clear: both;
	display: block;
	height: 0px;
}
.hidden {
	display: none;
}
.accessible-hidden {
    width: 0 !important;
    height: 0 !important;
    display: inline-block !important;
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    overflow: hidden !important;
}
.border-box {
	box-sizing: border-box;	
}
.bk-section-parent {
	width: 100%;
	position: relative;
	padding: 0px 25px;
}
.bk-section {
	max-width: 1170px;
	margin: 0px auto;	
}
.orange-txt {
	color: #a2310f;	
}
/* ========== GLOBAL END ========== */


/* ========== HEADER START ========== */
header {
	min-height: 100vh;
	background: url(/portfolio/images/home-bg6.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.mobile header {
	background-attachment: scroll;
}
.mobile.ios header {
	min-height: 0px;
}
/* iPad with portrait orientation. */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
	.mobile.ios header {
		min-height: 1024px;
	}
}
/* iPad with landscape orientation. */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
	.mobile.ios header {
		min-height: 768px;
	}
}
/* ========== HEADER END ========== */


/* ========== NAVIGATION START ========== */
#bk-nav-outer {
	height: 75px;
	position: fixed;
	top: -75px;
	left: 0px;
	right: 0px;
	opacity: 0;
	background: #FFF;
	box-shadow: 0 2px 8px 0 rgba(50, 50, 50, .08);	
	transition: top .3s linear 0s, opacity .3s linear 0s;
	z-index: 100;
}
#bk-nav-outer.visible {
	top: 0px;
	opacity: 1;	
}
#bk-nav h2 {
	float: left;
	margin: 0px;
	padding: 14px 0px 0px;
	color: #212227;
	font: 700 30px/45px 'Raleway', sans-serif;	
}
#bk-nav ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	float: right;	
}
#bk-nav ul li {
	float: left;	
}
#bk-nav ul li a {
	font: 700 13px/45px 'Raleway', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #202020;
	display: block;
	padding: 14px 15px;
	transition: color .1s linear 0s;
}
#bk-nav ul li a:hover, #bk-nav ul li a.active {
	color: #a2310f;	
}
#bk-mobile-nav {
	height: 75px;
	width: 75px;
	text-align: right;
	padding: 20px 0px 0px;
	display: none;
	color: #a2310f;
	font-size: 30px;
	float: right;
}
/* ========== NAVIGATION END ========== */


/* ========== BODY START ========== */
#bk-page {
	position: relative;
	overflow: hidden;	
}
.bk-mobile-bg {
	display: none;	
}
.mobile .bk-mobile-bg {
	display: block;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 0;
}
#bk-welcome {
	min-height: 400px;
	text-align: center;	
}
#bk-welcome-inner {
	width: 73%;
	margin: auto;	
	padding: 25px 0px;
}
#bk-welcome h1 {
	font: 700 60px/64px 'Raleway', sans-serif;
	text-transform: uppercase;
	color: #5f5f5f;
	margin: 20px 0px 10px;
}
#bk-welcome h2 {
	font: 700 30px/32px 'Raleway', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #a2310f;
	margin: 20px 0px 10px;
	padding: 0px 0px 40px;
}
#bk-welcome p {
	font: 400 16px/28px 'Raleway', sans-serif;
	color: #5f5f5f;
	margin: 0px 0px 10px;
}
#bk-welcome-start {
	display: inline-block;
	text-decoration: none;
	font: 700 20px 'Raleway', sans-serif;
	color: #FFF;	
	background: #a2310f;
	padding: 15px 50px;
	margin: 30px 0px 0px;
	transition: color .1s linear 0s, background .1s linear 0s;
}
#bk-welcome-start:hover {
	color: #a2310f;
	background: #FFF;
}
#bk-main-overlay {
	position: relative;
	z-index: 1;
	background: #FFF;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, .30);	
}
#bk-work {
	padding: 100px 0px;	
}
#bk-work .bk-articles article {
	width: 33.33333%;
	float: left;
	text-align: center;
	position: relative;
	padding: 80px 50px 110px;
	box-sizing: border-box;
}
#bk-work .bk-articles article:nth-child(3n+4) {
	clear: left;
}
#bk-work .bk-articles article:nth-child(3n+1) {
	padding: 80px 60px 110px 40px;
}
#bk-work .bk-articles article:nth-child(3n) {
	padding: 80px 40px 110px 60px;	
}
#bk-work .bk-articles article:before {
	content: "";
	display: block;
	position: absolute;
	top: 0px;
	bottom: 30px;
	left: 10px;
	right: 10px;
	border: solid 1px #666;
	border-radius: 2px;
	transition: border-color .5s linear 0s;
}
#bk-work .bk-articles article:hover:before {
	border-color: #a2310f;	
}
#bk-work .bk-articles article:nth-child(3n+1):before {
	left: 0px;
	right: 20px;	
}
#bk-work .bk-articles article:nth-child(3n):before {
	left: 20px;
	right: 0px;	
}
#bk-work .bk-articles article * {
	position: relative;	
}
#bk-work h4:after {
	content: "";
	width: 100px;
	height: 0px;
	display: block;
	margin: 30px auto 40px;
	border-top: solid 1px #f2f2f2;
}
.bk-work-icon {
	height: 60px;
	color: #888888;
	line-height: 1;
	padding: 0px 0px 40px;	
	text-align: center;
}
.bk-work-icon.html {
	font-size: 65px;
	top: -3px;
}
.bk-work-icon.mobile {
	font-size: 80px;
	top: -10px;
}
.bk-work-icon.mysql {
	font-size: 53px;
	top: 4px;
}
#bk-portfolio-outer {
	background: #f8f8f8;	
}
#bk-portfolio {
	padding: 100px 0px 0px;	
}
#bk-portfolio h3 {
	text-align: center;	
}
#bk-portfolio-samples {
	width: 100%;
	height: 100%;
	position: relative;
}
.simple-gallery-viewer {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
}
.simple-gallery-record {
	min-width: 0px;
	width: 100%;
	height: 100%;
	display: none;
	position: relative;
	box-sizing: border-box;
	position: absolute;
}
.simple-gallery-record.active {
	display: block;
}
.simple-gallery-record-inner {
	width: 100%;
	height: 100%;
	position: relative;
}
.simple-gallery-record-frost-image {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 3% 40% 3% 3%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-clip: content-box;
	box-sizing: border-box;
    -webkit-filter: blur(8px);
	filter: blur(8px);
	opacity: 0;
	transition: opacity .75s ease 0s, padding .75s ease 0s;
}
.simple-gallery-record.reveal .simple-gallery-record-frost-image {
	opacity: 1;
	padding: 3% 3% 3% 40%;
}
.simple-gallery-record-info {
	width: 100%;
	height: 100%;
	color: #FFF;
	font: 400 16px/1.5em 'Raleway', sans-serif;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, .30);
	padding: 3% 40% 3% 3%;
	background: rgba(255, 255, 255, .10);
	background-clip: content-box;
	position: relative;
	box-sizing: border-box;
	opacity: 0;
	transition: opacity .75s ease 0s, padding .75s ease 0s;
}
.simple-gallery-record.reveal .simple-gallery-record-info {
	opacity: 1;
	padding: 3% 3% 3% 40%;
}
.simple-gallery-record-info-inner {
	height: 100%;
	padding: 30px;
	overflow: auto;
	box-sizing: border-box;
}
.simple-gallery-record-info .simple-gallery-record-header {
	color: #FFF;
	padding: 0px 0px 20px;
	font: 700 20px/1.5em 'Raleway', sans-serif;
	text-transform: uppercase;
}
.simple-gallery-record-info .simple-gallery-record-header span {
	display: block;
	text-transform: none;
	font-style: italic;
	font-weight: normal;
	line-height: 1.2em;
	font-size: 14px;
	margin-bottom: 4px;
}
.simple-gallery-record-info .simple-gallery-record-caption p {
	color: #FFF;
	padding: 0px 0px 20px;
}
.simple-gallery-record-info .simple-gallery-record-caption ul,
.simple-gallery-record-info .simple-gallery-record-caption ol {
	padding: 0px 0px 20px 18px;
	margin: 0px;
}
.simple-gallery-record-info .simple-gallery-record-caption h5 {
	color: #FFF;
	padding: 0px;
	margin: 0px;
	font: 700 17px/28px 'Raleway', sans-serif;
}
.simple-gallery-record-info a {
	color: #FFF;
}
.simple-gallery-record-link a {
	float: right;
}
.simple-gallery-record-link:after {
	content: "";
	visibility: hidden;
	clear: both;
	display: block;
	height: 0px;
}
.simple-gallery-bullets {
	position: absolute;
	top: calc(3% - 7px);
	right: 3%;
	z-index: 5;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.simple-gallery-bullet {
	width: 14px;
	height: 14px;
	margin: 0px 0px 0px 10px;
	float: left;
}
.simple-gallery-bullet-btn {
	width: 12px;
	height: 12px;
	background: #FFF;
	border: solid 1px #FFF;
	padding: 0px;
	margin: 0px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .20);
	border-radius: 6px;
	cursor: pointer;
	transition: all .3s ease 0s;
}
.simple-gallery-bullet-btn:hover {
	transform: scale(1.2);
}
.simple-gallery-bullet-btn.active {
	background: none;
	transform: scale(1.2);
}
.bk-portfolio-sample > a {
	width: 210px;
	display: block;
	position: relative;
	float: left;
	border: solid 1px #CCC;
	margin: 0px 10px 5px 0px;
	transition: all .3s linear 0s;	
}
.bk-portfolio-sample > a:hover,
.bk-portfolio-sample > a:focus {
	border-color: #a2310f;
}
.bk-portfolio-sample img {
	display: block;
	width: 100%;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}
.bk-portfolio-sample p a {
	color: #FFF;
	text-decoration: none;
	float: right;
}
.bk-portfolio-sample p a:hover {
	text-decoration: underline;	
}
#bk-profile {
	padding: 100px 0px;
}
#bk-profile .bk-profile {
	width: 50%;
	float: left;
	box-sizing: border-box;	
}
#bk-profile .bk-profile.left {
	padding: 0px 15px 0px 0px;	
}
#bk-profile .bk-profile.right {
	padding: 0px 0px 0px 15px;	
}
#bk-profile article {
	padding-bottom: 30px;	
}
#bk-profile article p span:not(.orange-txt) {
	font-style: italic;	
}
.bk-skill-label {
	font: 700 12px 'Raleway', sans-serif;
    text-transform: uppercase;
	color: #666;	
	margin: 10px 0px;
}
.bk-skill-label span {
	font-weight: 400;
	font-size: 11px;
	color: #666;
	float: right;
	padding: 3px 0px 0px 0px;	
}
.bk-skill-bar {
	width: 100%;
	height: 4px;
	overflow: hidden;
	position: relative;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	border-radius: 4px;	
}
.bk-skill-bar:before {
	content: "";
	display: block;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	background: #a2310f;	
	transition: width 1s ease 0s;
}
.bk-skill-bar.html:before,
.bk-skill-bar.css:before,
.bk-skill-bar.cms:before,
.bk-skill-bar.standards:before,
.bk-skill-bar.responsive:before {
	width: 100%;	
}
.bk-skill-bar.javascript:before {
	width: 95%;	
}
.bk-skill-bar.adobe:before {
	width: 85%;	
}
.bk-skill-bar.ally:before {
	width: 75%;	
}
.bk-skill-bar.php:before {
	width: 70%;	
}
.bk-skill-bar.angular:before {
	width: 70%;	
}
.bk-skill-bar.mysql:before {
	width: 65%;	
}
.bk-skill-bar.git:before {
	width: 60%;	
}
.bk-skill-bar.gulp:before {
	width: 50%;	
}
.bk-skill-bar.load:before {
	width: 0;
}
#bk-bio-outer {
	background: url(/portfolio/images/bio.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}
.mobile #bk-bio-outer {
	background: none;
}
.mobile .bk-mobile-bg.bio {
	background: url(/portfolio/images/bio.jpg) no-repeat center center;
	background-size: cover;
	z-index: -1;
}
#bk-bio {
	padding: 100px 0px;	
}
#bk-bio .bk-bio.right {
	width: 50%;
	float: right;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, .30);
}
#bk-bio h2 {
    font: 400 30px/32px 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #a2310f;
    margin: 10px 0px 50px;
    padding: 0px;
}
#bk-bio h2 span {
	font-weight: 700;	
}
#bk-bio .bk-bio.right h3,
#bk-bio .bk-bio.right p {
	color: #FFF;	
	padding: 0px;
	margin-bottom: 10px;
}
#bk-contact-outer {
	position: relative;
	background: #FFF;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, .30);	
}
#bk-contact {
	padding: 100px 0px;	
}
#bk-contact h2 {
	text-align: center;	
}
.bk-form-input {
	width: 100%;
	font: 400 14px 'Raleway', sans-serif;
    color: #333;
	display: block;
	margin: 0px 0px 10px;	
	padding: 6px 12px;
	background: transparent;
	outline: none;
	border: 1px solid #666;
	border-radius: 2px;
	transition: all .3s linear 0s;
}
.bk-form-input.name {
	width: calc(50% - 10px);
	float: left;
}
.bk-form-input.email {
	width: calc(50% - 10px);
	float: right;
}
.bk-form-input.message {
	height: 135px;	
}
.bk-form-input.send {
	width: 66.66666%;
	margin: 0px auto 10px;
}
.bk-form-input:hover,
.bk-form-input:focus {
	color: #FFF;
	background: #202020;
}
::-webkit-input-placeholder {
	color: #333;
	transition: all .3s linear 0s;
}
:-moz-placeholder {
	color: #333;
	transition: all .3s linear 0s;
}
::-moz-placeholder {
	color: #333;
	transition: all .3s linear 0s;
}
:-ms-input-placeholder {
	color: #333;
	transition: all .3s linear 0s;
}
:hover::-webkit-input-placeholder,
:focus::-webkit-input-placeholder {
	color: #FFF;
}
:hover:-moz-placeholder,
:focus:-moz-placeholder {
	color: #FFF;
}
:hover::-moz-placeholder,
:focus::-moz-placeholder {
	color: #FFF;
}
:hover:-ms-input-placeholder,
:focus:-ms-input-placeholder {
	color: #FFF;
}
#success-mail-msg {
	text-align: center;
	color: #009900;	
}
/* ========== BODY END ========== */


/* ========== FOOTER START ========== */
#bk-footer-outer {
	background: #FFF;	
}
#bk-footer {
	padding: 0px 0px 25px;
}
#bk-footer p {
	text-align: center;
	font-size: 12px;	
}
/* ========== FOOTER END ========== */