/* 1350+ */
@media (max-width: 1170px) {
	body:before {
		content: "1170";
	}
}

/* 768+ */
@media (max-width: 1023px) {
	body:before {
		content: "768";
	}
	#bk-mobile-nav {
		display: block;
		z-index: 10;
	}
	#bk-nav ul {
		position: fixed;
		top: 75px;
		bottom: 100%;
		left: 0px;
		right: 0px;
		overflow: auto;
		background: #FFF;
	}
	#bk-nav ul.open {
		bottom: 0px;
		border-top: solid 1px #e7e7e7;
		-webkit-transition: bottom .8s ease 0s;
		-moz-transition: bottom .8s ease 0s;
		-o-transition: bottom .8s ease 0s;
		-ms-transition: bottom .8s ease 0s;
		transition: bottom .8s ease 0s;
		-moz-box-shadow: 0 2px 8px 0 rgba(50, 50, 50, .08);	
		-webkit-box-shadow: 0 2px 8px 0 rgba(50, 50, 50, .08);	
		box-shadow: 0 2px 8px 0 rgba(50, 50, 50, .08);
	}
	#bk-nav ul li {
		float: none;
		display: block;	
	}
	#bk-nav ul li a {
		font-size: 16px;	
		padding: 10px 25px;
	}
	#bk-welcome-inner {
		width: 80%;	
	}
	#bk-work .bk-articles article {
		width: 100%;
		float: none;
		padding: 80px 50px 110px;
	}
	#bk-work .bk-articles article:nth-child(3n+1),
	#bk-work .bk-articles article:nth-child(3n) {
		padding: 80px 50px 110px;
	}
	#bk-work .bk-articles article:before,
	#bk-work .bk-articles article:nth-child(3n+1):before,
	#bk-work .bk-articles article:nth-child(3n):before {
		left: 0px;
		right: 0px;	
	}
	.simple-gallery-record-info-inner {
		padding: 20px;
	}
	.simple-gallery-record-frost-image,
	.simple-gallery-record-info {
		padding: 42% 3% 3% 3%;
	}
	.simple-gallery-record.reveal .simple-gallery-record-frost-image,
	.simple-gallery-record.reveal .simple-gallery-record-info {
		padding: 5% 3% 3% 3%;
	}
	.simple-gallery-bullets {
		top: calc(5% - 7px);
	}
	#bk-profile .bk-profile {
		width: 100%;
		float: none;
		padding: 0px;	
	}
	#bk-profile .bk-profile.right {
		padding: 30px 0px 0px;	
	}
}


/* 640+ */
@media (max-width: 767px) {
	body:before {
		content: "640";
	}
	#bk-nav-outer {
		height: 45px;	
	}
	#bk-mobile-nav {
		height: 45px;
		padding: 7px 0px 0px;	
	}
	#bk-nav ul {
		top: 45px;
	}
	#bk-nav h2 {
		padding: 0px;	
	}
	#bk-welcome-inner {
		width: 100%;	
	}
}


/* 480+ */
@media (max-width: 639px) {
	body:before {
		content: "480";
	}
	#bk-welcome h1, h2 {
		font-size: 50px;
		line-height: 54px;	
	}
	#bk-welcome h2 {
		font-size: 25px;
		line-height: 27px;	
	}
	.bk-portfolio-sample {
		width: 100%;
	}
	.bk-portfolio-sample.active {
		width: 100%;
	}
	#bk-work,
	#bk-profile,
	#bk-bio,
	#bk-contact {
		padding: 100px 0px 75px;	
	}
	#bk-portfolio-samples:before {
		padding-top: 65%;
	}
	.simple-gallery-bullets {
		display: none;
	}
	.simple-gallery-record-frost-image,
	.simple-gallery-record-info {
		padding: 65% 0 0 0;
	}
	.simple-gallery-record.reveal .simple-gallery-record-frost-image,
	.simple-gallery-record.reveal .simple-gallery-record-info {
		padding: 0;
	}
	#bk-bio .bk-bio.right {
		width: 100%;
		float: none;	
	}
	.bk-form-input.name,
	.bk-form-input.email {
		width: 100%;
		float: none;	
	}
}


/* 320+ */
@media (max-width: 479px) {
	body:before {
		content: "320";
	}
	#bk-nav h2 {
		font-size: 22px;	
	}
	#bk-welcome h1, h2 {
		font-size: 30px;
		line-height: 34px;	
	}
	#bk-welcome h2 {
		font-size: 20px;
		line-height: 22px;	
	}
	#bk-welcome-start {
		font-size: 16px;	
	}
	.bk-skill-label span {
		padding: 3px 0px 0px;	
	}
}